@use '../../shared/snapfolio-variables.scss' as *;

.philosophy {
  .philosophyContent {
    text-align: center;
  }

  .philosophyText {
    font-size: 1.25rem;
    line-height: 1.8;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin: 0;
  }
}

