*{
  font-family: Arial !important;
}

a {
  font-weight: bold;
  text-decoration: underline;
}
.title {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.practice_session_title {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.field_trial_title {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.subtitle {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.practice_session_subtitle1 {
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.field_trial_subtitle1 {
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.practice_session_subtitle2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.field_trial_subtitle2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.headings {
  width: 100%;
  text-align: left;
  padding-left: 0;
  margin-left:0;
  font-size: 0.9em;
}
.paragraphs {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 81%;
}

.usmle_title {
  font-family: Times-Roman;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.asam_title {
  font-family: Times-Roman;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.asam_subtitle {
  font-family: Times-Roman;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.asam_subtitle_address {
  font-family: Times-Roman;
  font-size: 1em;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.asam_subtitle_other {
  font-family: Times-Roman;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  padding-top: 7px;
  margin-top: 7px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.asam_paragraphs {
  font-family: Times-Roman;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-size: 0.83em;
}

.style_solid_border {
	border: 2px solid;
}

.style_no_border {
	border: none;
}

.style_title {
  font-family: Times-Roman;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 22px !important;
  text-align: center !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 3px !important;
  margin-bottom: 3px !important;
}

.style_subtitle {
  font-family: Times-Roman;
  font-size: 21px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 1px !important;
  margin-bottom: 1px !important;
}
.style_other{
  font-size: 16px !important;
}
.style_subtitle_address {
  font-family: Times-Roman;
  font-size: 1em;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.style_subtitle_other {
  font-family: Times-Roman;
  font-size: 1.1em;
  padding-top: 7px;
  margin-top: 7px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.style_text_normal {
  font-family: Times-Roman;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-size: 0.81em;
}

.style_text_large {
  font-family: Times-Roman;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-size: 1.2em;
  }
  
.style_text_list_num {
  font-family: Times-Roman;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-size: 0.92em;
}

.headingCol1 {
    width: 700px;
}

.headingCol2 {
    width: 200px;
}
.headingCol3 {
    width: 300px;
}
.headingColUSMLE {
    width: 600px;
}


      
